<div>
  <div class="winner-message" *ngIf="winner === 'Empate'">
    <h1>EMPATE</h1>
    <div class="icons">
      <fa-icon [icon]="faTimes"></fa-icon>
      <fa-icon [icon]="faEquals"></fa-icon>
      <fa-icon [icon]="faCircle"></fa-icon>
    </div>

  </div>
  <div class="winner-message" *ngIf="winner === 'X'">
    <h1>GANADOR</h1>
    <div class="icons">
      <fa-icon [icon]="faMedal"></fa-icon>
      <fa-icon [icon]="faTimes"></fa-icon>
    </div>

  </div>
  <div class="winner-message" *ngIf="winner === 'O'">
    <h1>GANADOR</h1>
    <div class="icons">
      <fa-icon [icon]="faMedal"></fa-icon>
      <fa-icon [icon]="faCircle"></fa-icon>
    </div>

  </div>
</div>
