.board-game-container {

  .new-game {
    width: 100%;
    padding: 20px 0;
    display: grid;
    justify-content: center;
    align-content: center;
  }

  .players {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    text-align: center;

    span {
      width: 100px;
      height: 30px;
    }

    h3 {
      grid-column: 1/3;
    }
  }

  .board-game {
    display: grid;
    justify-content: center;

    .board {
      display: grid;
      grid-template: 1fr min-content 1fr min-content 1fr / 1fr min-content 1fr min-content 1fr;
      justify-items: center;
      align-content: center;
      text-align: center;
      width: 340px;
      height: 340px;

      div {
        width: 100px;
        height: 100px;
        display: grid;
        align-content: center;
      }

      hr {
        background-color: rgba(#000, 0.6);
      }

      hr.v1 {
        width: 20px;
        height: 100%;
        grid-column: 2/3;
        grid-row: 1/6;
      }

      hr.v2 {
        width: 20px;
        height: 100%;
        grid-column: 4/5;
        grid-row: 1/6;
      }

      hr.h1 {
        height: 20px;
        width: 100%;
        grid-row: 2/3;
        grid-column: 1/6;
      }

      hr.h2 {
        height: 20px;
        width: 100%;
        grid-row: 4/5;
        grid-column: 1/6;
      }
    }
  }
}
